* {
  margin: 0;
  padding: 0;
  .paragraph {
    border: 9px solid aquamarine;
    margin: 9%;
    padding: 45px;
    text-align: justify;
    background-color: rgb(229, 255, 0);
    background-position: left top;
    box-shadow: 10px 10px 30px grey;
  }

  .border {
    border: 5px solid purple;
    display: inline-block;
    padding: 10px;
    margin: 9%;
    background-color: chocolate;
    border-radius: 5px;
  }
}
